@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container{
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 30px 120px;
  flex-direction: column;
  padding-top: 30px;
  background-image: url("../public/bg.jpg");
  background-repeat: no-repeat;
  border-radius: 20px;
  color: white;
  

}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 margin: 50px 0px 50px 10px;
 gap: 15px;
 
}
.button{
  padding: 10px 0px 15px;
  display: flex;
  justify-content: space-between;
  
}
.button button:hover{
  background-color: white;
  color: black;
}
.button button{
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
}
.card{
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: white;
 height: 300px;
 width: 300px;
  margin: 20px;
  color: black;
}
.button{
  border: none;
  background-color: white;
  font-size: 40px;
  cursor: pointer;
}
.new{
  padding-top: 20px;
  display: flex;
 flex-direction: column;
}
.new input{
  margin-right: 10px;
  padding: 5px;
  color: black;
}
.new textarea{
  padding: 5px;
  color: black;
  margin: 5px 0px;
}
.new button{
  padding: 5px;
  cursor: pointer;
  width: 90px;
 
}
.update{
  padding-top: 20px;
  display: flex;
 flex-direction: column;
}
.update input{
  
  padding: 5px;
  color: black;
}
.update textarea{
  padding: 5px;
  color: black;
  margin: 5px 0px;
}
.update button{
  padding: 5px;
  cursor: pointer;
  width: 120px;
  /* margin-left: 10px; */
}
.task-title h3{
  text-align: center;
  padding-bottom: 5px;
}
@media (min-width: 641px) and (max-width:1024px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   margin: 50px 0px 50px 20px;
}
.container{
  margin: 20px 50px;
}
}
@media  screen and (max-width:640px)  {
  .grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   margin: 50px 0px 50px 20px;
  }
  .container{
    margin: 20px 50px;
  }
}